<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>TIM BERNERS-LEE</title>
    <link rel="icon" href="img/heroes.png">
  </head>
  <body>
   <header>
   <div class="separador"/>
    
  
    <div class="menu">
      <nav>
        <ul>
        <li><a href="/home" id="selected"></a></li>
        <li><a href="#">MENÚ</a>
        <ul> 
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/clarke">Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
          
        </ul> 
      </li> 
        </ul>
    </nav>
  </div>
  </header>
    
  <div class="fondo">
    <h1>Tim Berners-Lee</h1>
    <p><strong>Profesión: </strong>Científico de la Computación</p>
    <p><strong>País: </strong>Reino Unido</p>
    <p><strong>Resenia: </strong> John Berners-Lee,(Londres, Reino Unido, 8 de junio de 1955) es un científico de la computación británica, conocido por ser el padre de la World Wide Web. Estableció la primera comunicación entre un cliente y un servidor usando el protocolo HTTP en noviembre de 1989. En octubre de 1994 fundó el Consorcio de la World Wide Web (W3C) con sede en el MIT, para supervisar y estandarizar el desarrollo de las tecnologías sobre las que se fundamenta la Web y que permiten el funcionamiento de Internet.</p>

    <div class="picture"><img src="img/TimBerners-Lee.jpg" alt="TimBerners"></div>
    
  </div>
  </body>
</html>


<!--  -->
