<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>LOVELACE</title>
    <link rel="icon" href="img/heroes.png">
  </head>
  <body>
   <header>
    
   <div class="separador"/>
    
  
    <div class="menu">
      <nav>
        <ul>
        <li><a href="/home" id="selected"></a></li>
        <li><a href="#">MENÚ</a>
        <ul> 
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/clarke">Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
          
        </ul> 
      </li> 
        </ul>
    </nav>
  </div>
  </header>
    
  <div class="fondo">
        <h1>Ada Lovelace</h1>

        <p> &nbsp &nbsp Ada Augusta Byron nació en Londres en 1815. Era hija de la adinerada Annabella Milbanke y el poeta Lord Byron. El matrimonio no duró mucho y, cuando Ada tenía un mes, su madre abandonó a su esposo. La joven Ada recibió lecciones de matemáticas y ciencia en un intento, por parte de su madre, de erradicar la herencia de locura poética que llevaba en los genes. Su infancia transcurrió entre tutores y estudios, lastrada por una mala salud que arrastraría a lo largo de toda su vida.

          A pesar de que en siglo XIX no era frecuente que las mujeres estudiasen ciencia, Ada tuvo la suerte de contar con grandes maestros, como el matemático Augustus De Morgan o la astrónoma escocesa Mary Somerville. Fue precisamente Sommerville quien le presentó al matemático Charles Babbage, con quien trabó una gran amistad y una fructífera colaboración. En 1835 Ada se casó con el barón William King, que posteriormente se convirtió en conde de Lovelace. </br> &nbsp &nbsp Durante su matrimonio siguió estudiando matemáticas. Tras el nacimiento de su tercer y último hijo, Ada comenzó a colaborar con Babbage en la máquina analítica.
          
          Su pasión por las matemáticas y su personalidad poco convencional no siempre fueron bien vistas en la corte. Se aficionó al juego y en 1851 trató de crear con unos amigos un modelo matemático para acertar en las apuestas. En los últimos años de su vida su salud se deterioró gravemente, hasta que falleció en 1852, poco antes de cumplir 37 años.</p>
    

          <div class="picture"><img src ="img/Ada_Lovelace.jpg"  alt="Lovelace"></div>
</div> 
</body>
</html>
