<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <title>TURING</title>
    <link rel="icon" href="img/heroes.png">
  </head>
  <body>
   <header>
   <div class="separador"/>
    
  
    <div class="menu">
      <nav>
        <ul>
        <li><a href="/home" id="selected"></a></li>
        <li><a href="#">MENÚ</a>
        <ul> 
            <li><a href="/babbage">Babbage</a></li>
            <li><a href="/berners-lee">Berners-Lee</a></li>
            <li><a href="/clarke">Clarke</a></li>
            <li><a href="/hamilton">Hamilton</a></li>
            <li><a href="/hopper">hopper</a></li>
            <li><a href="/lovelace">Lovelace</a></li>
            <li><a href="/turing">Turing</a></li>
          
        </ul> 
      </li> 
        </ul>
    </nav>
  </div>
  </header>
    
  <div class="fondo">
    
    <h1>Alan Turing</h1>
    <p><strong>Profesión: </strong>Matemática e Informática</p>
    <p><strong>País: </strong>Reino Unido</p>
    <p><strong>Resenia: </strong>Alan Mathison Turing (Paddington, Londres, 23 de junio de 1912-Wilmslow, Cheshire, 7 de junio de 1954), fue un matemático, lógico, científico de la computación, criptógrafo, filósofo, biólogo teórico, maratoniano y corredor de ultradistancia británico. Es considerado uno de los padres de la ciencia de la computación y precursor de la informática moderna. Proporcionó una influyente formalización de los conceptos de algoritmo y computación: la máquina de Turing. Formuló su propia versión que hoy es ampliamente aceptada como la tesis de Church-Turing (1936).</p>


    <div class="picture"><img src="img/Turing.jpg" alt="Turing"></div>
</div>
</body>
</html>
